body{
    color: #fff;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;

}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid blue;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: blue;
    width: 0%;
}